
<div class="header_bottom about">
	<div class="container">
		<h1><a href="index.html">About CougarCS</a></h1> 
	</div>
</div>
<div class="about_box1">
   <div class="container">
        <div class="about_grid1">
         <div class="col-md-6 row_1">
         	<%= image_tag("IMG_1746.jpg", class:"img-jpg img-responsive") %>
         	<h3>Community</h3>
         	<p>CougarCS is a dedicated community with workshops and help from fellow students. The club is open to any major and we invite you to come visit during on of our meetings. We organize workshops, showcase new technologies, and help you interact with potential employers!</p>
         </div>  
         <div class="col-md-6 row_1">
         	<%= image_tag("meeting 6.jpg", class:"img-jpg img-responsive") %>
         	<h3>Events</h3>
         	<p>CougarCs hosts a variety of great events including:<br>-The Computer Science career fair<br>-The anual CodeRed Hackathon<br>-OTHER STUFF!!</p>
         </div>  
         <div class="clearfix"> </div>
       </div>
       <h3 class="m_1"><span>Meet Our Officers</span></h3>
   </div>
</div>








<div class="about_box2 portraits">
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Jophy.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Jophy Johnson<br>President</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Carlos.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Carlos Salazar<br>Vice President</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Chirag.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Chirag Ghanshani<br>Treasurer</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Faysal.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Faysal Sharif<br>Dir of Activities</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Aaron.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Aaron Dancer<br>Dir of Hackathon</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Cesar.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Cesar Salazar<br>Historian</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Daniel.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Daniel Ngyuen<br>Dir of Tutoring</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Dan.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Dan Burns<br>Designer</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Dutch.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Daniel Soetanto<br>Webmaster</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("Ryan.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Ryan Dickey<br>Recruitment</h2>
	</div>
	<div class="col-md-3 m_2 portrait">
		<%= image_tag("tri.jpg", class:"img-responsive", width:"100%") %>
		<h2 class="label1">Tri Ngyuen<br>Dir of Communication</h2>
	</div>


	<div class="clearfix"> </div>
</div>











<div class="footer">
	<div class="container">
	    <ul class="socials">
            <li><a href="https://www.facebook.com/cougarcs?fref=ts"><i class="fa fb fa-facebook"></i></a></li>
        </ul>
	</div>
</div>      