<!DOCTYPE html>
<html>
<head>
  <title>CsSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
<div class="top_row text-right">

	<% if current_member %>
		<%= link_to edit_member_registration_path do %>
			Logged in as <%= current_member.first_name + " " + current_member.last_name %>
		<% end %>
		|
		<%= link_to "Sign out",  destroy_member_session_path,  method: :delete %>
	<% else %>
			<%= link_to "Sign In", new_member_session_path %>
			<%= link_to "Register", new_member_registration_path %>
	<% end %>
</div>
<div class="header_top">
	<div class="container">
		<div class="top-nav">
					<span class="menu">Menu</span>
					<ul>
						<li class="active">
						<%= link_to root_path do %>
						<span data-hover="Home">Home</span>
						<% end %>
						<label> </label></li>
						<li>
						
						<%= link_to pages_about_path do %>
						<span data-hover="About">About</span>
						<% end %>

						<label> </label></li>

						
						<li>
						<%= link_to pages_contact_path do %>
						<span data-hover="Contact">Contact</span>
						<% end %>
						<label> </label></li>
					</ul>

		</div>
	</div>
</div>

	<%= yield %>
</body>
</html>
